:root{
    --calc-bg:rgb(0,0,0);
    --number-bg:rgba(106, 106, 106, 0.427);
    --operator-bg:rgba(50, 50, 50, 0.484);
    --top-btns-bg:rgb(23, 23, 23);
    --operator-color:lime;
    --text-color:white;
}
*,*::before,*::after{
    box-sizing:border-box;
    margin:0;
    padding:0;
}
html,body{
    width: 100%;
    height: 100%;
}
#calculator{
    width:100%;
    height:100%;
    background:var(--calc-bg);
    padding:1rem;
}
#btns-container{
    width:100%;
    height:75%;
    margin:auto;
    display:grid;
    grid-template-columns:repeat(4,1fr);
    margin-top:1rem;
    gap:0.5rem;
}
.calc-btn{
    position: relative;
    color:var(--text-color);
    font-size: 2rem;
    border:none;
    transition: bottom, background-color  200ms ease-in-out;
    text-align: center;
    border-radius:50px;
}
.calc-btn:hover{
    bottom:4px
}
.calc-btn:active{
    bottom:8px
}
.number-btn{
    background-color: var(--number-bg);
}
.number-btn:hover{
    background-color:hsl(0,0%,50%);
}
.number-btn:active{
    background-color:hsl(0,0%,80%);
}
.operation,[value='.'],#opposite-btn{
    background-color: var(--operator-bg);
}
.operation:hover,[value='.']:hover,#opposite-btn:hover{
    background-color: hsl(0,0%,20%);
}
.operation:active,[value='.']:active,#opposite-btn:active{
    background-color: hsl(0,0%,50%);
}
#equal-btn{
    background:rgb(255, 166, 0);
}
#equal-btn:hover{
    background:rgb(254, 174, 26);
}
#equal-btn:active{
    background:rgb(251, 179, 44);
}
#display{
    height:20%;
    width:100%;
    text-align:right;
    font-size:4rem;
    background-color:var(--number-bg);
    color:var(--text-color);
    overflow:auto;
    border:none;
    border-radius: 30px;
}
#backspace-btn > img{
    max-width: 100%;
    height:auto;
}
#divide,#add,#subtract,#multiply,#opposite-btn{
    color:var(--operator-color);
}
#clear-btn{
    color:red;
}
#top-btns{
    display:flex;
    flex-direction: row;
    justify-content:center;
    align-items:center;
    gap:0.5rem;
}
#top-btns button{
    background:var(--top-btns-bg);
    padding:0.5rem;
    color:var(--text-color);
    border:none;
    border-radius:10px;
    aspect-ratio: 2;
}
.hidden{
    display:none !important;
}
#top-btns{
    position:fixed;
}
@media (min-width:450px){
    html,body{
        font-size:18px;
    }
}