:root{
    --calc-bg:rgb(65, 65, 65);
    --number-bg:rgba(106, 106, 106, 0.427);
    --operator-bg:rgba(9, 8, 8, 0.484);
    --text-color:white;
}
*,*::before,*::after{
    box-sizing:border-box;
    margin:0;
    padding:0;
}
html,body{
    width: 100%;
    height: 100%;
}
#calculator{
    width:100%;
    height:100%;
    aspect-ratio: 2;
    min-width:300px;
    background:var(--calc-bg);
    padding:2rem;
}
#btns-container{
    width:100%;
    height: 70%;
    margin:auto;
    display:grid;
    grid-template-columns:repeat(4,1fr);
    margin-top:1rem;
    gap:0.5rem;
}
.calc-btn{
    color:var(--text-color);
    font-size: 2rem;
    border:2px solid black;
    border-radius: 50px;
    transition: bottom, background-color  200ms ease-in-out;
    text-align: center;
}
.calc-btn:hover{
    position: relative;
    bottom:4px
}
.calc-btn:active{
    position: relative;
    bottom:8px
}
.number-btn{
    background-color: var(--number-bg);
}
.number-btn:hover{
    background-color:hsl(0,0%,50%);
}
.number-btn:active{
    background-color:hsl(0,0%,80%);
}
.operation,[value='.'],#opposite-btn{
    background-color: var(--operator-bg);
}
.operation:hover,[value='.']:hover,#opposite-btn:hover{
    background-color: hsl(0,0%,20%);
}
.operation:active,[value='.']:active,#opposite-btn:active{
    background-color: hsl(0,0%,50%);
}
#equal-btn{
    background:orange;
}
#equal-btn:hover{
    background:rgb(255, 188, 63);
}
#equal-btn:active{
    background:rgb(255, 211, 130);
}
#display{
    height:30%;
    width:100%;
    text-align:right;
    font-size:4rem;
    background-color:var(--number-bg);
    color:white;
    overflow:auto;
    border-radius: 30px;
}
#backspace-btn > img{
    max-width: 100%;
    height:auto;
}
.hidden{
    display:none !important;
}
#top-btns{
    position:fixed;
}
@media (min-width:450px){
    html,body{
        font-size:18px;
    }
}